# Virtual Environment
.venv/
venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# IDE settings (VSCode / PyCharm)
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Data files (если не хочешь таскать большие CSV в гите, но для домашки лучше оставить)
# *.csv
